@use './styles/variables' as v;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: v.$font-family;
  background: v.$odoo-bg;
  color: v.$odoo-text;
  font-size: 14px;
}

button {
  font-family: inherit;
}